<!doctype html>
<head>
<meta charset="utf-8">
<title>Trip Reservation - Sample App</title>
<meta name="description" content="Trip Reservation - Sample App">
<meta name="viewport" content="width=device-width">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- build:css styles/agent_vendor.css -->
<!-- bower:css -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css" />
<!-- endbower -->
<!-- endbuild -->
<!-- build:css({.tmp,app}) styles/agent_main.css -->
<link rel="stylesheet" href="styles/main.css">
<!-- endbuild -->
</head>
<body ng-app="agentApp">

	<!-- Add your site or application content here -->
	<div ng-controller="mainController">


		<div class="container" ng-controller="agentController">


			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#"> Trip Reservation App </a>
						<form class="navbar-form pull-right">
							<p class="navbar-text">Logged In as - {{ userInfo.userId }}</p>
							<button type="button" class="btn btn-primary navbar-btn"
								ng-click="logout()">Logout</button>
						</form>

					</div>
				</div>
			</nav>


			<tabset> <tab heading="SKU"> <br>
			<div class="row">
				<div class="col-md-12 col-sm-12">

					<table class="table table-bordered">
						<thead>
							<tr>
								<th>#</th>
								<th>Type</th>
								<th>Hotel Name</th>
								<th>Room Number</th>
							</tr>
						</thead>
						<tbody ng-repeat="sku in skus">
							<tr>
								<td>{{$index + 1}}</td>
								<td>{{sku.type}}</td>
								<td>{{sku.roomHotelName}}</td>
								<td>{{sku.roomNumber}}</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Add SKU</h3>
				</div>
				<div class="panel-body">
					<form novalidate="novalidate">

						<div class="form-group">
							<label class="control-label">SkuType</label>
							<div class="btn-group">
								<label class="btn btn-success" ng-model="addSkuForm.type"
									btn-radio="'ROOM'" uncheckable>ROOM</label> <label
									class="btn btn-success" ng-model="addSkuForm.type"
									btn-radio="'PROGRAM'" uncheckable>PROGRAM</label>
							</div>

						</div>

						<div class="form-group">
							<label class="control-label">Hotel Name</label> <input
								type="text" class="form-control"
								ng-model="addSkuForm.roomHotelName" ng-maxlength="20" />
						</div>

						<div class="form-group">
							<label class="control-label">Room Number</label> <input
								type="text" class="form-control"
								ng-model="addSkuForm.roomNumber" ng-maxlength="10" />
						</div>

						<button type="submit" class="btn btn-primary" ng-click="addSku()">Add</button>
					</form>
				</div>
			</div>

			</tab> <tab heading="Inventory">

			<div class="row">
				<div class="col-md-12 col-sm-12">

					<br>

					<table class="table table-bordered">
						<thead>
							<tr>
								<th>#</th>
								<th>Sku Id</th>
								<th>Date</th>
								<th>Total Quantity</th>
								<th>Booked</th>
								<th>Available</th>
							</tr>
						</thead>
						<tbody ng-repeat="item in inventoryItems">
							<tr>
								<td>{{$index + 1}}</td>
								<td>{{item.Sku[0].roomHotelName + ' - ' +
									item.Sku[0].roomNumber}}</td>
								<td>{{item.date | amDateFormat:'MM/DD/YYYY'}}</td>
								<td>{{item.quantity}}</td>
								<td>{{item.booked}}</td>
								<td>{{item.quantity - item.booked}}</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Add Inventory</h3>
				</div>
				<div class="panel-body">
					<form novalidate="novalidate">

						<div class="form-group">
							<label class="control-label">Sku</label> <select
								class="form-control" ng-model="addItemForm.skuId"
								ng-options="sku.id as (sku.roomHotelName + ' - ' + sku.roomNumber) for sku in skus">
							</select>
						</div>

						<div class="form-group">
							<label for="dateRangeInput">Date Range</label> <input type="text"
								class="form-control  date-picker" date-range-picker
								ng-model="addItemForm.dateRange" options="dateRangePickerOpts">
						</div>

						<div class="form-group">
							<label class="control-label">Quantity</label> <input type="text"
								class="form-control" ng-model="addItemForm.quantity"
								ng-maxlength="5" />
						</div>

						<button type="submit" class="btn btn-primary"
							ng-click="addInventoryItem()">Add Inventory</button>
					</form>
				</div>
			</div>

			</tab> <tab heading="Bookings"> <br>

			<table class="table table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>Summary</th>
						<th>Date</th>
						<th>Quantity</th>
						<th>Booked By</th>
						<th>Booked On Date</th>
					</tr>
				</thead>
				<tbody ng-repeat="item in bookings">
					<tr>
						<td>{{$index + 1}}</td>
						<td>{{item.summary}}</td>
						<td>{{item.Item[0].date | amDateFormat:'MM/DD/YYYY'}}</td>
						<td>{{item.quantity}}</td>
						<td>{{item.User[0].userId}}</td>
						<td>{{item.timeCreated | amDateFormat:'MM/DD/YYYY'}}</td>
					</tr>
				</tbody>
			</table>
			</tab> </tabset>

		</div>

	</div>
	<!-- build:js scripts/agent_vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/moment/moment.js"></script>
	<script src="bower_components/angular-moment/angular-moment.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="bower_components/angular-daterangepicker/js/angular-daterangepicker.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/agent_scripts.js -->
	<script src="scripts/utils.js"></script>
	<script src="scripts/user/agent/agent.js"></script>
	<!-- endbuild -->
</body>
</html>
