<!doctype html>
<head>
<meta charset="utf-8">
<title>Trip Reservation - Sample App</title>
<meta name="description" content="Trip Reservation - Sample App">
<meta name="viewport" content="width=device-width">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- build:css styles/customer_vendor.css -->
<!-- bower:css -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css" />
<!-- endbower -->
<!-- endbuild -->
<!-- build:css({.tmp,app}) styles/customer_main.css -->
<link rel="stylesheet" href="styles/main.css">
<!-- endbuild -->
</head>
<body ng-app="customerApp">

	<!-- Add your site or application content here -->
	<div ng-controller="mainController">

		<div class="container" ng-controller="customerController">

			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#"> Trip Reservation App </a>
						<form class="navbar-form pull-right">
							<p class="navbar-text">Logged In as - {{ userInfo.userId }}</p>
							<button type="button" class="btn btn-primary navbar-btn"
								ng-click="logout()">Logout</button>
						</form>

					</div>
				</div>
			</nav>


			<tabset> <tab heading="Search">

			<div class="row">

				<div class="col-md-12 col-sm-12">

					<form novalidate="novalidate">
						<br>
						<div class="btn-group">
							<label class="btn btn-success" ng-model="searchForm.type"
								btn-radio="'ROOM'" uncheckable>ROOM</label> <label
								class="btn btn-success" ng-model="searchForm.type"
								btn-radio="'PROGRAM'" uncheckable>PROGRAM</label>
						</div>
						<br>

						<div class="form-group">
							<br> <label for="dateRangeInput">Date Range</label> <input
								type="text" class="form-control  date-picker" date-range-picker
								ng-model="searchForm.dateRange" options="dateRangePickerOpts">
						</div>

						<button type="submit" class="btn btn-primary" ng-click="search()">
							Search</button>
					</form>


				</div>
			</div>


			</tab> <tab heading="Results"> <br>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>Sku Id</th>
						<th>Date</th>
						<th>Available</th>
						<th>Book</th>
					</tr>
				</thead>
				<tbody ng-repeat="item in matchingItems">
					<tr>
						<td>{{$index + 1}}</td>
						<td>{{item.Sku[0].roomHotelName + ' - ' +
							item.Sku[0].roomNumber}}</td>
						<td>{{item.date | amDateFormat:'MM/DD/YYYY'}}</td>
						<td>{{item.quantity - item.booked}}</td>
						<td><a ng-click="book(item.id)">Book This</a></td>
					</tr>
				</tbody>
			</table>

			</tab> <tab heading="Bookings"> <br>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>Summary</th>
						<th>Date</th>
						<th>Quantity</th>
					</tr>
				</thead>
				<tbody ng-repeat="item in bookings">
					<tr>
						<td>{{$index + 1}}</td>
						<td>{{item.summary}}</td>
						<td>{{item.Item[0].date | amDateFormat:'MM/DD/YYYY'}}</td>
						<td>{{item.quantity}}</td>
					</tr>
				</tbody>
			</table>
			</tab> </tabset>

		</div>

	</div>

	<!-- build:js scripts/customer_vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/moment/moment.js"></script>
	<script src="bower_components/angular-moment/angular-moment.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="bower_components/angular-daterangepicker/js/angular-daterangepicker.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/customer_scripts.js -->
	<script src="scripts/utils.js"></script>
	<script src="scripts/user/customer/customer.js"></script>
	<!-- endbuild -->
</body>
</html>
