<div class="container" style="margin-top: 60px">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">

			<div class="panel-heading">
				<h3 class="panel-title">Sign Up</h3>
			</div>

			<div class="panel-body">

				<div ng-controller="RegisterCtrl">

					<div ng-show="signupWizard.state == 'step1'">
						<form ng-submit="sendVerificationEmail(user)"
							name="form.signup_form" novalidate="novalidate"
							autocomplete="off">

							<div class="form-group">
								<label class="control-label">UserType</label> <select
									class="form-control" ng-model="user.type"
									ng-options="option as option for option in ['AGENT', 'CUSTOMER', 'ADMIN']">
								</select>
							</div>

							<div class="form-group"
								ng-class="{ 'has-error' : form.signup_form.email.$invalid   && submitted }">
								<label class="control-label">Email *</label> <input type="text"
									class="form-control" ng-model="user.email" ng-maxlength="50"
									name="email" ng-pattern="validationPatterns.email" required />
								<p
									ng-show="form.signup_form.email.$error.maxlength && submitted"
									class="help-block">Email is too long.</p>
								<p ng-show="form.signup_form.email.$error.required && submitted"
									class="help-block">Email is required.</p>
								<p class="help-block"
									ng-show="form.signup_form.email.$error.pattern && submitted">
									Enter a valid email.</p>
							</div>

							<div>&nbsp;</div>

							<alert ng-repeat="alert in alerts" type="alert.type"
								close="closeAlert($index)">{{alert.msg}} </alert>

							<button type="submit" class="btn btn-primary"
								ng-disabled="loading">
								<span ng-hide="loading">Submit</span> <span ng-show="loading">Processing...</span>
							</button>
						</form>
					</div>

					<div ng-show="signupWizard.state == 'step2'">

						<form name="form.signup_form_step2" novalidate
							ng-submit="submitCode(user)">
							<div class="form-group">
								<label for="email">Email</label>
								<div class="form-control">
									<p class="form-control-static">{{user.email}}</p>
								</div>
							</div>
							<div class="alert alert-info">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								Verification code sent to this email address. Please check code
								in the email and enter below.
							</div>
							<div class="form-group"
								ng-class="{ 'has-error' : form.signup_form_step2.verificationToken.$invalid  && submitted}">
								<label class="control-label">Verification Code *</label> <input
									type="text" ng-model="user.token" class="form-control"
									name="verificationToken" required>
								<p
									ng-show="form.signup_form_step2.verificationToken.$error.required && submitted"
									class="help-block">Verification Code is required.</p>

							</div>

							<div>&nbsp;</div>
							<alert ng-repeat="alert in alerts" type="alert.type"
								close="closeAlert($index)">{{alert.msg}} </alert>

							<button type="submit" class="btn btn-primary">Submit
								Code</button>
						</form>

					</div>

					<div ng-show="signupWizard.state == 'step3'">

						<form autocomplete="off" name="form.signup_form_step3" novalidate
							ng-submit="submitSignupForm(user,profile)">

							<div class="form-group">
								<label for="email">Email</label>
								<p class="form-control-static">{{user.email}}</p>
							</div>

							<div class="form-group"
								ng-class="{ 'has-error' : form.signup_form_step3.firstName.$invalid &&  submitted}">
								<label class="control-label">First Name *</label> <input
									class="form-control input-xlarge" type="text"
									ng-model="profile.firstName" name="firstName" ng-maxlength="30"
									ng-pattern="validationPatterns.name" required>
								<p
									ng-show="form.signup_form_step3.firstName.$error.required && submitted"
									class="help-block">First Name is required.</p>
								<p
									ng-show="form.signup_form_step3.firstName.$error.maxlength && submitted"
									class="help-block">First Name is too long.</p>
								<p class="help-block"
									ng-show="form.signup_form_step3.firstName.$error.pattern && submitted">
									First Name should contain alphanumeric and space only.</p>

							</div>
							<div class="form-group"
								ng-class="{ 'has-error' : form.signup_form_step3.lastName.$invalid && submitted}">
								<label class="control-label">Last Name *</label> <input
									class="form-control input-xlarge" type="text"
									ng-model="profile.lastName" name="lastName" ng-maxlength="30"
									ng-pattern="validationPatterns.name" required>
								<p
									ng-show="form.signup_form_step3.lastName.$error.required && submitted"
									class="help-block">Last Name is required.</p>
								<p
									ng-show="form.signup_form_step3.lastName.$error.maxlength  && submitted"
									class="help-block">Last Name is too long.</p>
								<p class="help-block"
									ng-show="form.signup_form_step3.lastName.$error.pattern && submitted">
									Last Name should contain alphanumeric and space only.</p>
							</div>
							<div class="form-group"
								ng-class="{ 'has-error' : form.signup_form_step3.password.$invalid  && submitted}">
								<label class="control-label">Password *</label> <input
									class="form-control input-xlarge" type="password"
									name="password" ng-model="user.password"
									ng-pattern="validationPatterns.password" ng-minlength="8"
									ng-maxlength="15" required>
								<p
									ng-show="form.signup_form_step3.password.$error.required && submitted"
									class="help-block">Password is required.</p>
								<p
									ng-show="form.signup_form_step3.password.$error.minlength && submitted"
									class="help-block">Password is too short.</p>
								<p
									ng-show="form.signup_form_step3.password.$error.maxlength && submitted"
									class="help-block">Password is too long.</p>
								<p class="help-block">Use 8 to 15 alpha-numberic chars.
									Atleast one alphabet and one number is required.</p>

							</div>
							<div class="form-group"
								ng-class="{ 'has-error' : form.signup_form_step3.conformPassword.$invalid  && submitted}">
								<label class="control-label">Password confirmation *</label> <input
									class="form-control input-xlarge" type="password"
									name="conformPassword" ng-model="user.password2" required>
								<p
									ng-show="form.signup_form_step3.conformPassword.$error.required && submitted"
									class="help-block">Password confirmation is required.</p>


								<div>&nbsp;</div>
								<alert ng-repeat="alert in alerts" type="alert.type"
									close="closeAlert($index)">{{alert.msg}} </alert>

							</div>
							<button type="submit" class="btn btn-primary"
								ng-disabled="loading">
								<span ng-hide="loading">Submit</span> <span ng-show="loading">Processing...</span>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>