<div class="container" style="margin-top: 60px">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">

			<div class="panel-heading">
				<h3 class="panel-title">Sign In</h3>
			</div>

			<div class="panel-body">

				<div ng-controller="LoginCtrl">

					<form ng-submit="submit(user)" name="form.signin_form"
						novalidate="novalidate" autocomplete="off">
						<div class="modal-body">
							<div class="form-group"
								ng-class="{ 'has-error' : form.signin_form.email.$invalid   && submitted }">
								<label class="control-label">Email *</label> <input type="text"
									class="form-control" ng-model="user.user" id="loginEmailId"
									ng-maxlength="50" name="email"
									ng-pattern="validationPatterns.email" required />
								<p
									ng-show="form.signin_form.email.$error.maxlength && submitted"
									class="help-block">Email is too long.</p>
								<p ng-show="form.signin_form.email.$error.required && submitted"
									class="help-block">Email is required.</p>
								<p class="help-block"
									ng-show="form.signin_form.email.$error.pattern && submitted">
									Enter a valid email.</p>
							</div>
							<div class="form-group"
								ng-class="{ 'has-error' : form.signin_form.password.$invalid   && submitted }">
								<label class="control-label">Password *</label> <input
									type="password" id="loginPassword" class="form-control"
									name="password" ng-model="user.password" required />
								<p
									ng-show="form.signin_form.password.$error.required && submitted"
									class="help-block">Password is required.</p>
							</div>
							<div>&nbsp;</div>
							<alert ng-repeat="alert in alerts" type="alert.type"
								close="closeAlert($index)"> <strong>{{alert.strongContent}}</strong>{{alert.msg}}
							</alert>
							<button type="submit" class="btn btn-primary"
								ng-disabled="loading" id="loginButton">
								<span ng-hide="loading">Login</span> <span ng-show="loading">Processing..</span>
							</button>
							<a href='#/forgotPassword'>Forgot Password?</a>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>

